
<!-- Umami Analytics -->
<script defer src="https://cloud.umami.is/script.js" data-website-id="015182db-cc35-4431-88a9-d4f0b9d2abf3"></script>
<!-- End Umami Analytics -->

{{ define "main" }}
  {{ partial "page-header" . }}


  <section class="section">
    <div class="container">
      <div class="row">
        {{ range .RegularPages }}
          <div class="md:col-6 lg:col-4 mb-14">
            {{ partial "components/author-card" . }}
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
